@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/background.webp') repeat;
  background-size: 1024px 1024px; /* Ensures the image tiles seamlessly */
  opacity: 0.1;
  z-index: -1;
}

html, body, #__next {
  height: 100%;
}

[data-rk] {
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox to center content if needed */
  flex-direction: column; /* Ensure the content flows vertically */
}

/* Spiral spinner for loading animation */
.loading-spinner {
  border: 16px solid #f3f3f3; /* Light gray */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.full-minus {
  min-height: calc(100% - 200px); /* Full viewport height minus 64px */
}